In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
## Loading the dataset

In [3]:
dataset_train=pd.read_csv('PM_train.txt',sep=' ',header=None)

In [4]:
dataset_train

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190,NaN,NaN
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236,NaN,NaN
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442,NaN,NaN
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739,NaN,NaN
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044,NaN,NaN
5,1,6,-0.0043,-0.0001,100.0,518.67,642.10,1584.47,1398.37,14.62,...,8132.85,8.4108,0.03,391,2388,100.0,38.98,23.3669,NaN,NaN
6,1,7,0.0010,0.0001,100.0,518.67,642.48,1592.32,1397.77,14.62,...,8132.32,8.3974,0.03,392,2388,100.0,39.10,23.3774,NaN,NaN
7,1,8,-0.0034,0.0003,100.0,518.67,642.56,1582.96,1400.97,14.62,...,8131.07,8.4076,0.03,391,2388,100.0,38.97,23.3106,NaN,NaN
8,1,9,0.0008,0.0001,100.0,518.67,642.12,1590.98,1394.80,14.62,...,8125.69,8.3728,0.03,392,2388,100.0,39.05,23.4066,NaN,NaN
9,1,10,-0.0033,0.0001,100.0,518.67,641.71,1591.24,1400.46,14.62,...,8129.38,8.4286,0.03,393,2388,100.0,38.95,23.4694,NaN,NaN
10,1,11,0.0018,-0.0003,100.0,518.67,642.28,1581.75,1400.64,14.62,...,8140.58,8.4340,0.03,392,2388,100.0,38.94,23.4787,NaN,NaN
11,1,12,0.0016,0.0002,100.0,518.67,642.06,1583.41,1400.15,14.62,...,8134.25,8.3938,0.03,391,2388,100.0,39.06,23.3660,NaN,NaN
12,1,13,-0.0019,0.0004,100.0,518.67,643.07,1582.19,1400.83,14.62,...,8128.10,8.4152,0.03,393,2388,100.0,38.93,23.2757,NaN,NaN
13,1,14,0.0009,-0.0000,100.0,518.67,642.35,1592.95,1399.16,14.62,...,8134.43,8.3964,0.03,393,2388,100.0,39.18,23.3826,NaN,NaN
14,1,15,-0.0018,-0.0003,100.0,518.67,642.43,1583.82,1402.13,14.62,...,8127.56,8.4199,0.03,391,2388,100.0,38.99,23.3500,NaN,NaN
15,1,16,0.0006,0.0005,100.0,518.67,642.13,1587.98,1404.50,14.62,...,8136.11,8.3936,0.03,392,2388,100.0,38.97,23.4550,NaN,NaN
16,1,17,0.0002,0.0002,100.0,518.67,642.58,1584.96,1399.95,14.62,...,8137.27,8.4542,0.03,392,2388,100.0,38.81,23.3319,NaN,NaN
17,1,18,-0.0031,-0.0001,100.0,518.67,642.62,1591.04,1396.12,14.62,...,8132.73,8.4028,0.03,392,2388,100.0,38.89,23.3987,NaN,NaN
18,1,19,0.0032,-0.0003,100.0,518.67,641.79,1587.56,1400.35,14.62,...,8129.13,8.4321,0.03,391,2388,100.0,38.80,23.3464,NaN,NaN
19,1,20,-0.0037,0.0001,100.0,518.67,643.04,1581.11,1405.23,14.62,...,8129.71,8.4210,0.03,392,2388,100.0,39.03,23.4220,NaN,NaN
20,1,21,-0.0012,0.0001,100.0,518.67,642.37,1586.07,1398.13,14.62,...,8134.02,8.4049,0.03,392,2388,100.0,39.09,23.3101,NaN,NaN
21,1,22,0.0002,0.0000,100.0,518.67,642.77,1592.93,1400.57,14.62,...,8130.41,8.4034,0.03,392,2388,100.0,38.92,23.3792,NaN,NaN
22,1,23,0.0034,-0.0003,100.0,518.67,642.14,1588.19,1394.75,14.62,...,8127.90,8.4240,0.03,392,2388,100.0,38.94,23.4562,NaN,NaN
23,1,24,-0.0010,0.0003,100.0,518.67,642.38,1590.83,1398.81,14.62,...,8133.88,8.3891,0.03,392,2388,100.0,39.00,23.3696,NaN,NaN
24,1,25,0.0023,-0.0004,100.0,518.67,642.77,1594.10,1399.39,14.62,...,8136.61,8.3917,0.03,393,2388,100.0,38.95,23.4288,NaN,NaN
25,1,26,0.0000,0.0002,100.0,518.67,642.16,1589.08,1396.07,14.62,...,8131.15,8.4260,0.03,394,2388,100.0,38.86,23.4149,NaN,NaN
26,1,27,-0.0012,-0.0004,100.0,518.67,642.44,1590.47,1401.84,14.62,...,8134.60,8.4046,0.03,393,2388,100.0,38.99,23.4472,NaN,NaN
27,1,28,-0.0024,0.0005,100.0,518.67,642.35,1582.84,1399.13,14.62,...,8127.30,8.4323,0.03,390,2388,100.0,39.01,23.2841,NaN,NaN
28,1,29,0.0012,-0.0001,100.0,518.67,641.91,1584.83,1400.99,14.62,...,8133.06,8.4189,0.03,393,2388,100.0,38.93,23.3597,NaN,NaN
29,1,30,-0.0022,0.0000,100.0,518.67,642.20,1593.52,1396.08,14.62,...,8137.86,8.4065,0.03,390,2388,100.0,39.05,23.4110,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20601,100,171,-0.0005,-0.0004,100.0,518.67,643.05,1593.56,1420.48,14.62,...,8144.03,8.5085,0.03,396,2388,100.0,38.81,23.1513,NaN,NaN
20602,100,172,-0.0037,0.0001,100.0,518.67,642.97,1602.35,1424.93,14.62,...,8142.08,8.4970,0.03,394,2388,100.0,38.49,23.1922,NaN,NaN
20603,100,173,0.0006,0.0004,100.0,518.67,643.40,1595.53,1418.63,14.62,...,8143.13,8.4856,0.03,393,2388,100.0,38.42,23.1793,NaN,NaN
20604,100,174,0.0011,0.0002,100.0,518.67,642.91,1602.24,1425.52,14.62,...,8143.61,8.4990,0.03,395,2388,100.0,38.80,23.1784,NaN,NaN
20605,100,175,-0.0013,-0.0005,100.0,518.67,642.85,1602.03,1416.24,14.62,...,8140.88,8.4851,0.03,394,2388,100.0,38.54,23.0713,NaN,NaN
20606,100,176,-0.0017,-0.0003,100.0,518.67,643.33,1601.44,1421.40,14.62,...,8139.27,8.4405,0.03,396,2388,100.0,38.46,23.1020,NaN,NaN
20607,100,177,-0.0011,-0.0005,100.0,518.67,643.34,1593.22,1418.91,14.62,...,8142.95,8.5133,0.03,395,2388,100.0,38.60,23.0352,NaN,NaN
20608,100,178,0.0005,-0.0003,100.0,518.67,642.98,1594.80,1422.69,14.62,...,8141.85,8.4876,0.03,395,2388,100.0,38.55,23.2252,NaN,NaN
20609,100,179,0.0020,0.0004,100.0,518.67,643.22,1599.36,1423.94,14.62,...,8138.58,8.5218,0.03,396,2388,100.0,38.62,23.1685,NaN,NaN
20610,100,180,-0.0010,0.0001,100.0,518.67,643.64,1595.98,1416.45,14.62,...,8138.98,8.5150,0.03,395,2388,100.0,38.54,23.2345,NaN,NaN
20611,100,181,0.0024,-0.0005,100.0,518.67,643.25,1597.83,1414.63,14.62,...,8139.30,8.5518,0.03,396,2388,100.0,38.52,23.1774,NaN,NaN
20612,100,182,0.0007,-0.0001,100.0,518.67,643.52,1604.31,1417.73,14.62,...,8140.87,8.4855,0.03,396,2388,100.0,38.41,23.1289,NaN,NaN
20613,100,183,-0.0011,-0.0002,100.0,518.67,643.34,1594.60,1427.27,14.62,...,8144.21,8.5006,0.03,395,2388,100.0,38.49,23.0709,NaN,NaN
20614,100,184,0.0027,-0.0004,100.0,518.67,642.91,1598.88,1420.89,14.62,...,8142.28,8.4989,0.03,396,2388,100.0,38.44,23.1229,NaN,NaN
20615,100,185,-0.0014,0.0004,100.0,518.67,643.95,1600.81,1420.34,14.62,...,8142.32,8.4804,0.03,395,2388,100.0,38.60,23.2127,NaN,NaN
20616,100,186,0.0026,0.0004,100.0,518.67,643.61,1593.55,1425.32,14.62,...,8138.08,8.4735,0.03,394,2388,100.0,38.51,23.1173,NaN,NaN
20617,100,187,0.0015,0.0002,100.0,518.67,643.63,1596.96,1421.49,14.62,...,8140.49,8.5087,0.03,396,2388,100.0,38.67,23.2308,NaN,NaN
20618,100,188,-0.0008,-0.0002,100.0,518.67,643.19,1597.77,1426.57,14.62,...,8139.94,8.4814,0.03,395,2388,100.0,38.36,23.0552,NaN,NaN
20619,100,189,0.0015,0.0001,100.0,518.67,643.69,1599.85,1423.15,14.62,...,8139.78,8.4870,0.03,397,2388,100.0,38.65,23.0591,NaN,NaN
20620,100,190,-0.0001,0.0002,100.0,518.67,643.12,1594.45,1426.04,14.62,...,8142.28,8.5162,0.03,395,2388,100.0,38.42,23.0603,NaN,NaN
20621,100,191,-0.0005,-0.0000,100.0,518.67,643.69,1610.87,1427.19,14.62,...,8143.56,8.5092,0.03,398,2388,100.0,38.39,23.1218,NaN,NaN
20622,100,192,-0.0009,0.0001,100.0,518.67,643.53,1601.23,1419.48,14.62,...,8143.46,8.4892,0.03,397,2388,100.0,38.56,23.0770,NaN,NaN
20623,100,193,-0.0001,0.0002,100.0,518.67,643.09,1599.81,1428.93,14.62,...,8142.02,8.5424,0.03,397,2388,100.0,38.47,23.0230,NaN,NaN
20624,100,194,-0.0011,0.0003,100.0,518.67,643.72,1597.29,1427.41,14.62,...,8139.67,8.5215,0.03,394,2388,100.0,38.38,23.1324,NaN,NaN
20625,100,195,-0.0002,-0.0001,100.0,518.67,643.41,1600.04,1431.90,14.62,...,8142.90,8.5519,0.03,394,2388,100.0,38.14,23.1923,NaN,NaN
20626,100,196,-0.0004,-0.0003,100.0,518.67,643.49,1597.98,1428.63,14.62,...,8137.60,8.4956,0.03,397,2388,100.0,38.49,22.9735,NaN,NaN
20627,100,197,-0.0016,-0.0005,100.0,518.67,643.54,1604.50,1433.58,14.62,...,8136.50,8.5139,0.03,395,2388,100.0,38.30,23.1594,NaN,NaN
20628,100,198,0.0004,0.0000,100.0,518.67,643.42,1602.46,1428.18,14.62,...,8141.05,8.5646,0.03,398,2388,100.0,38.44,22.9333,NaN,NaN
20629,100,199,-0.0011,0.0003,100.0,518.67,643.23,1605.26,1426.53,14.62,...,8139.29,8.5389,0.03,395,2388,100.0,38.29,23.0640,NaN,NaN
20630,100,200,-0.0032,-0.0005,100.0,518.67,643.85,1600.38,1432.14,14.62,...,8137.33,8.5036,0.03,396,2388,100.0,38.37,23.0522,NaN,NaN

In [5]:
## droping column 26 and 27

In [6]:
df=dataset_train.drop([26,27],axis=1)

In [7]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044

In [8]:
## adding the column name as per requirement

In [9]:
column_name=['id','Cycle','setting1','setting2','setting3','s1','s2','s3','s4','s5','s6','s7','s8','s9','s10','s11','s12',
            's13','s14','s15','s16','s17','s18','s19','s20','s21']

In [10]:
df.columns=column_name

In [11]:
df.head()

,id,Cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s12,s13,s14,s15,s16,s17,s18,s19,s20,s21
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044

In [12]:
df_test=pd.read_csv('PM_test.txt', sep=' ',header=None)

In [13]:
df_test.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,1,1,0.0023,0.0003,100.0,518.67,643.02,1585.29,1398.21,14.62,...,8125.55,8.4052,0.03,392,2388,100.0,38.86,23.3735,NaN,NaN
1,1,2,-0.0027,-0.0003,100.0,518.67,641.71,1588.45,1395.42,14.62,...,8139.62,8.3803,0.03,393,2388,100.0,39.02,23.3916,NaN,NaN
2,1,3,0.0003,0.0001,100.0,518.67,642.46,1586.94,1401.34,14.62,...,8130.10,8.4441,0.03,393,2388,100.0,39.08,23.4166,NaN,NaN
3,1,4,0.0042,0.0000,100.0,518.67,642.44,1584.12,1406.42,14.62,...,8132.90,8.3917,0.03,391,2388,100.0,39.00,23.3737,NaN,NaN
4,1,5,0.0014,0.0000,100.0,518.67,642.51,1587.19,1401.92,14.62,...,8129.54,8.4031,0.03,390,2388,100.0,38.99,23.4130,NaN,NaN

In [14]:
df_test.drop([26,27],axis=1,inplace=True)

In [15]:
df_test.columns=column_name

In [16]:
df_test.head()

,id,Cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s12,s13,s14,s15,s16,s17,s18,s19,s20,s21
0,1,1,0.0023,0.0003,100.0,518.67,643.02,1585.29,1398.21,14.62,...,521.72,2388.03,8125.55,8.4052,0.03,392,2388,100.0,38.86,23.3735
1,1,2,-0.0027,-0.0003,100.0,518.67,641.71,1588.45,1395.42,14.62,...,522.16,2388.06,8139.62,8.3803,0.03,393,2388,100.0,39.02,23.3916
2,1,3,0.0003,0.0001,100.0,518.67,642.46,1586.94,1401.34,14.62,...,521.97,2388.03,8130.10,8.4441,0.03,393,2388,100.0,39.08,23.4166
3,1,4,0.0042,0.0000,100.0,518.67,642.44,1584.12,1406.42,14.62,...,521.38,2388.05,8132.90,8.3917,0.03,391,2388,100.0,39.00,23.3737
4,1,5,0.0014,0.0000,100.0,518.67,642.51,1587.19,1401.92,14.62,...,522.15,2388.03,8129.54,8.4031,0.03,390,2388,100.0,38.99,23.4130

In [17]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13096 entries, 0 to 13095
Data columns (total 26 columns):
id          13096 non-null int64
Cycle       13096 non-null int64
setting1    13096 non-null float64
setting2    13096 non-null float64
setting3    13096 non-null float64
s1          13096 non-null float64
s2          13096 non-null float64
s3          13096 non-null float64
s4          13096 non-null float64
s5          13096 non-null float64
s6          13096 non-null float64
s7          13096 non-null float64
s8          13096 non-null float64
s9          13096 non-null float64
s10         13096 non-null float64
s11         13096 non-null float64
s12         13096 non-null float64
s13         13096 non-null float64
s14         13096 non-null float64
s15         13096 non-null float64
s16         13096 non-null float64
s17         13096 non-null int64
s18         13096 non-null int64
s19         13096 non-null float64
s20         13096 non-null float64
s21         13096 non-null float64
dtypes: float64(22), int64(4)
memory usage: 2.6 MB

In [18]:
# Loading the truth table

In [19]:
truth_table=pd.read_csv('PM_truth.txt',sep=' ',header=None)

In [20]:
truth_table.drop([1],axis=1,inplace=True)

In [21]:
truth_table.columns=['More_cycle']

In [22]:
truth_table.head()

   More_cycle
0         112
1          98
2          69
3          82
4          91

In [23]:
truth_table['id']=truth_table.index+1
truth_table.head()

   More_cycle  id
0         112   1
1          98   2
2          69   3
3          82   4
4          91   5

Generate COlumn max for Test data set

In [24]:
rul=pd.DataFrame(df_test.groupby('id')['Cycle'].max()).reset_index()
rul.columns=['id','max_run']

In [25]:
rul.head()

   id  max_run
0   1       31
1   2       49
2   3      126
3   4      106
4   5       98

In [26]:
## Finding the total no. of run to get fails

In [27]:
truth_table['run_to_fail']=rul['max_run']+truth_table['More_cycle']
truth_table.columns=['more_cycle','id','run_to_fail']
truth_table.head()

   more_cycle  id  run_to_fail
0         112   1          143
1          98   2          147
2          69   3          195
3          82   4          188
4          91   5          189

In [28]:
truth_table.drop(['more_cycle'], axis=1, inplace=True)
df_test=df_test.merge(truth_table,on=['id'],how='left')
df_test['ttf']=df_test['run_to_fail'] - df_test['Cycle']
df_test.drop('run_to_fail', axis=1, inplace=True)
df_test.head()

,id,Cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s13,s14,s15,s16,s17,s18,s19,s20,s21,ttf
0,1,1,0.0023,0.0003,100.0,518.67,643.02,1585.29,1398.21,14.62,...,2388.03,8125.55,8.4052,0.03,392,2388,100.0,38.86,23.3735,142
1,1,2,-0.0027,-0.0003,100.0,518.67,641.71,1588.45,1395.42,14.62,...,2388.06,8139.62,8.3803,0.03,393,2388,100.0,39.02,23.3916,141
2,1,3,0.0003,0.0001,100.0,518.67,642.46,1586.94,1401.34,14.62,...,2388.03,8130.10,8.4441,0.03,393,2388,100.0,39.08,23.4166,140
3,1,4,0.0042,0.0000,100.0,518.67,642.44,1584.12,1406.42,14.62,...,2388.05,8132.90,8.3917,0.03,391,2388,100.0,39.00,23.3737,139
4,1,5,0.0014,0.0000,100.0,518.67,642.51,1587.19,1401.92,14.62,...,2388.03,8129.54,8.4031,0.03,390,2388,100.0,38.99,23.4130,138

In [30]:
df['ttf'] = df.groupby(['id'])['Cycle'].transform(max)-df['Cycle']
df.head()

,id,Cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s13,s14,s15,s16,s17,s18,s19,s20,s21,ttf
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190,191
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236,190
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442,189
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739,188
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044,187

In [32]:
df_train=df
df_train.head()

,id,Cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s13,s14,s15,s16,s17,s18,s19,s20,s21,ttf
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190,191
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236,190
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442,189
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739,188
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044,187

In [33]:
period=30
df_train['label_bc'] = df_train['ttf'].apply(lambda x: 1 if x <= period else 0)
df_test['label_bc'] = df_test['ttf'].apply(lambda x: 1 if x <= period else 0)
df_train.head()

,id,Cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s14,s15,s16,s17,s18,s19,s20,s21,ttf,label_bc
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190,191,0
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236,190,0
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442,189,0
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739,188,0
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044,187,0

In [34]:
features_col_name=['setting1', 'setting2', 'setting3', 's1', 's2', 's3', 's4', 's5', 's6', 's7', 's8', 's9', 's10', 's11',
                   's12', 's13', 's14', 's15', 's16', 's17', 's18', 's19', 's20', 's21']
target_col_name='label_bc'

Feature Scalling

In [36]:
from sklearn.preprocessing import MinMaxScaler
sc=MinMaxScaler()
df_train[features_col_name]=sc.fit_transform(df_train[features_col_name])
df_test[features_col_name]=sc.transform(df_test[features_col_name])

C:\Users\nanao\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

#Function to reshape dataset as required by LSTM

In [37]:
def gen_sequence(id_df, seq_length, seq_cols):
    df_zeros=pd.DataFrame(np.zeros((seq_length-1,id_df.shape[1])),columns=id_df.columns)
    id_df=df_zeros.append(id_df,ignore_index=True)
    data_array = id_df[seq_cols].values
    num_elements = data_array.shape[0]
    lstm_array=[]
    for start, stop in zip(range(0, num_elements-seq_length), range(seq_length, num_elements)):
        lstm_array.append(data_array[start:stop, :])
    return np.array(lstm_array)

# function to generate labels
def gen_label(id_df, seq_length, seq_cols,label):
    df_zeros=pd.DataFrame(np.zeros((seq_length-1,id_df.shape[1])),columns=id_df.columns)
    id_df=df_zeros.append(id_df,ignore_index=True)
    data_array = id_df[seq_cols].values
    num_elements = data_array.shape[0]
    y_label=[]
    for start, stop in zip(range(0, num_elements-seq_length), range(seq_length, num_elements)):
        y_label.append(id_df[label][stop])
    return np.array(y_label)

In [38]:
# timestamp or window size
seq_length=50
seq_cols=features_col_name

In [39]:
# generate X_train
X_train=np.concatenate(list(list(gen_sequence(df_train[df_train['id']==id], seq_length, seq_cols)) for id in df_train['id'].unique()))
print(X_train.shape)
# generate y_train
y_train=np.concatenate(list(list(gen_label(df_train[df_train['id']==id], 50, seq_cols,'label_bc')) for id in df_train['id'].unique()))
print(y_train.shape)

(20531, 50, 24)
(20531,)

In [40]:
# generate X_test
X_test=np.concatenate(list(list(gen_sequence(df_test[df_test['id']==id], seq_length, seq_cols)) for id in df_test['id'].unique()))
print(X_test.shape)
# generate y_test
y_test=np.concatenate(list(list(gen_label(df_test[df_test['id']==id], 50, seq_cols,'label_bc')) for id in df_test['id'].unique()))
print(y_test.shape)

(12996, 50, 24)
(12996,)

LSTM Network

In [43]:
from keras.models import Sequential
from keras.layers import Dense, Dropout, LSTM, Activation
from keras.callbacks import EarlyStopping

Using TensorFlow backend.

In [44]:
nb_features =X_train.shape[2]
timestamp=seq_length

model = Sequential()

model.add(LSTM(
         input_shape=(timestamp, nb_features),
         units=100,
         return_sequences=True))
model.add(Dropout(0.2))

model.add(LSTM(
          units=50,
          return_sequences=False))
model.add(Dropout(0.2))

model.add(Dense(units=1, activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

model.summary()

WARNING:tensorflow:From C:\Users\nanao\Anaconda3\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From C:\Users\nanao\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_1 (LSTM)                (None, 50, 100)           50000
_________________________________________________________________
dropout_1 (Dropout)          (None, 50, 100)           0
_________________________________________________________________
lstm_2 (LSTM)                (None, 50)                30200
_________________________________________________________________
dropout_2 (Dropout)          (None, 50)                0
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 51
=================================================================
Total params: 80,251
Trainable params: 80,251
Non-trainable params: 0
_________________________________________________________________

In [45]:
# fit the network
model.fit(X_train, y_train, epochs=10, batch_size=200, validation_split=0.05, verbose=1,
          callbacks = [EarlyStopping(monitor='val_loss', min_delta=0, patience=0, verbose=0, mode='auto')])

WARNING:tensorflow:From C:\Users\nanao\Anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Train on 19504 samples, validate on 1027 samples
Epoch 1/10
19504/19504 [==============================] - 32s 2ms/step - loss: 0.2499 - acc: 0.8946 - val_loss: 0.1305 - val_acc: 0.9348
Epoch 2/10
19504/19504 [==============================] - 25s 1ms/step - loss: 0.0842 - acc: 0.9671 - val_loss: 0.0553 - val_acc: 0.9708
Epoch 3/10
19504/19504 [==============================] - 26s 1ms/step - loss: 0.0675 - acc: 0.9717 - val_loss: 0.0421 - val_acc: 0.9844
Epoch 4/10
19504/19504 [==============================] - 25s 1ms/step - loss: 0.0660 - acc: 0.9716 - val_loss: 0.0518 - val_acc: 0.9805

# FInding the model Accuracy

In [46]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [47]:
# training metrics
scores = model.evaluate(X_train, y_train, verbose=1, batch_size=200)
print('Accurracy: {}'.format(scores[1]))

20531/20531 [==============================] - 7s 334us/step
Accurracy: 0.974526333173689

In [49]:
#This shows that my model is having 97.45 % of accuracy. Now i have to test using my test data set to see whether model 
#prediction is corect or not

# Prediction

In [50]:
y_pred=model.predict_classes(X_test)
print('Accuracy of model on test data: ',accuracy_score(y_test,y_pred))
print('Confusion Matrix: \n',confusion_matrix(y_test,y_pred))

Accuracy of model on test data:  0.9902277623884272
Confusion Matrix:
 [[12592    72]
 [   55   277]]

## on test data set, (12592+277)/(12996)=99.02% correct prediction

In [51]:
## Now let us see the probability of machine failure

In [52]:
def prob_failure(machine_id):
    machine_df=df_test[df_test.id==machine_id]
    machine_test=gen_sequence(machine_df,seq_length,seq_cols)
    m_pred=model.predict(machine_test)
    failure_prob=list(m_pred[-1]*100)[0]
    return failure_prob

In [63]:
machine_id=45
print(' The probability of getting the machine fail in 30 days:', prob_failure(machine_id))

 The probability of getting the machine fail in 30 days: 0.19592443